<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="static" default=""/>
        <include 
            file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name"  value="$(find vitarana_drone)/worlds/box$(arg static).world"/>
        </include>
        <node name="throttler_model_states" type="throttle" pkg="topic_tools" args="messages /gazebo/model_states 10"/>
        <node name="gripper_service" type="gripper_service.py" pkg="vitarana_drone"/>
</launch>